<div class='header'>
	<%= @flight.departing_flight.name %>
	<span class="glyphicon glyphicon-plane"></span>
	<%= @flight.arriving_flight.name %>
</div><br><br>

<div class='row'>
	<div class='table-responsive'>
		<div class='container'>
			<table class="table table-hover">
				<tr class='info'>
					<th>Flight #</th>
					<th>Depature</th>
					<th>Arrival</th>
					<th>Duration</th>
				</tr>
				<tr class='active'>
					<td><%= @flight.id %></td>
					<td><%= @flight.depature_date %></td>
					<td><%= @flight.arrival_date %></td>
					<td><%= @flight.duration %></td>
				</tr>
			</table>
			<% a=1 %>
			<%= form_for @booking do |f|  %>
			<% params[:passengers].to_i.times do %>
			<%= f.fields_for :passengers, @booking.passengers.build do |p| %>
			<div class='passengers'>Passenger:
				<%= a %></div><br>
				<%= p.label "Name:" %><br>
				<%= p.text_field :name, placeholder: "Name" %><br>
				<%= p.label "Email:" %><br>
				<%= p.text_field :email, placeholder: "Email" %><br><br>
				<% a+=1 %>
				<% end %>
				<% end %>
				<%= f.hidden_field(:flight_id, value: params[:flight_id]) %>
				<%= f.submit :Submit, :class => 'btn btn-primary' %><br>
				<% end %>
			</div>
		</div>
	</div>


